/**
 * author: LPZ
 * email: lpzmail@163.com
 */

/* 标题字体 */
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
}

/* initialize css counter */
#write {
  counter-reset: h1;
}

h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

/* put counter result into headings（h1 不添加） */
#write h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

#write h3:before,
h3.md-focus.md-heading:before {
  /** override the default style for focused headings */
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}

#write h4:before,
h4.md-focus.md-heading:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

#write h5:before,
h5.md-focus.md-heading:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

#write h6:before,
h6.md-focus.md-heading:before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
}

/** override the default style for focused headings */
#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* 添加 TOC 自动序号样式 */
.md-toc-content {
  counter-reset: toc-h1;
}

.md-toc-h1 {
  counter-reset: toc-h2;
}

.md-toc-h2 {
  counter-reset: toc-h3;
}

.md-toc-h3 {
  counter-reset: toc-h4;
}

.md-toc-h4 {
  counter-reset: toc-h5;
}

.md-toc-h5 {
  counter-reset: toc-h6;
}

.md-toc-content .md-toc-h2 a:before {
  counter-increment: toc-h2;
  content: counter(toc-h2) ". ";
}

.md-toc-content .md-toc-h3 a:before {
  counter-increment: toc-h3;
  content: counter(toc-h2) "." counter(toc-h3) ". ";
}

.md-toc-content .md-toc-h4 a:before {
  counter-increment: toc-h4;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) ". ";
}

.md-toc-content .md-toc-h5 a:before {
  counter-increment: toc-h5;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "."
    counter(toc-h5) ". ";
}

.md-toc-content .md-toc-h6 a:before {
  counter-increment: toc-h6;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "."
    counter(toc-h5) "." counter(toc-h6) ". ";
}

/* 侧边栏自动编号 */
.outline-content {
  counter-reset: outline-h2;
}

.outline-h1 {
  counter-reset: outline-h2;
}

.outline-h2 {
  counter-reset: outline-h3;
}

.outline-h3 {
  counter-reset: outline-h4;
}

.outline-h4 {
  counter-reset: outline-h5;
}

.outline-h5 {
  counter-reset: outline-h6;
}

.outline-content .outline-h2 .outline-label:before {
  counter-increment: outline-h2;
  content: counter(outline-h2) ". ";
}

.outline-content .outline-h3 .outline-label:before {
  counter-increment: outline-h3;
  content: counter(outline-h2) "." counter(outline-h3) ". ";
}

.outline-content .outline-h4 .outline-label:before {
  counter-increment: outline-h4;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4)
    ". ";
}

.outline-content .outline-h5 .outline-label:before {
  counter-increment: outline-h5;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4)
    "." counter(outline-h5) ". ";
}

.outline-content .outline-h6 .outline-label:before {
  counter-increment: outline-h6;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4)
    "." counter(outline-h5) "." counter(outline-h6) ". ";
}

/* 自定义强制换号符，使得在导出PDF 或打印时强制换行 */
@media print {
  /* 这是自定义标签, 在需要换行的地方插入：<pb> */
  pb {
    display: block;
    page-break-after: always;
  }

  h1 {
    page-break-before: always;
  }

  h1:first-of-type {
    page-break-before: avoid;
  }
}

/* 完成的 Task 添加删除线 */
.task-list-done {
  text-decoration: line-through;
  color: #777;
}

/* 添加键盘样式 */
kbd {
  box-shadow: inset 0 -2px 0 #c6cbd1;
  background-color: white;
}

/* -----------------------以下为自己修改区域----------------- */

/* write 区加宽 */
#write {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 100px;
}

/* 一级标题居中 */
h1 {
  text-align: center;
}

/* 图片边框 */
#write img {
  border: 1px solid rgb(229, 229, 229);
}

/* 去除图片黑边 */
.md-image > img {
  margin: 0;
  padding: 0;
}

/* 图片居中，官方方法 */
p .md-image:only-child {
  width: auto;
  text-align: inherit;
}

p > .md-image:only-child:not(.md-img-error) img {
  display: inline-block;
}

/* 下面两个是之前自己的方法，2025.09.29已替换为上述官方方法 */
/* md图片靠左 */
/* p .md-image:only-child {
  width: auto;
  text-align: left;
} */

/* img图片靠左 */
/* #write img {
    display: block;
    margin: 0 auto 0 0 !important;
} */

/* 超链接取消下划线 */
a:link {
  text-decoration: none !important;
}

/* 超链接悬停显示下划线 */
a:hover {
  text-decoration: underline !important;
}

/* 对标注进行放大 */
rt {
  font-size: 1em; /* 默认太小，设大一点，比如1em或1.2em */
  color: red; /* 可选，标注更醒目 */
}

/* 水平线宽度 */
hr {
  border: none; /* 首先清除默认边框 */
  border-top: 2px solid #7a828e; /* 设置上边框为2像素宽的灰色实线 */
  height: 0; /* 明确设置高度为0，确保由边框决定视觉厚度 */
}

/* <kbd>样式 */
kbd {
  background-color: #000000;
  color: #adbac7;
  font-size: 1.1em;
  padding: 12px 12px; /* 增加内边距，使元素更大 */
}

/* <summary> 元素字体大小 */
summary {
  font-size: 1.3em;
}
