:root {
  /* write 区 */
  --bg-color: #2d333b;

  /* 侧边栏，代码块外圈，语言建议 */
  --item-hover-bg-color: #22272e;

  --text-color: #adbac7;

  /* 自定义：sidebar 当前文件和标题 */
  --sidebar-active-color: green;
}

/* 删除线颜色 */
del {
  text-decoration-color: red;
}

/* 使用更高的加粗文本粗细 */
strong {
  font-weight: 1000 !important;
}

/* 语言建议区选中背景色 */
/* 在 github-night.css 中，
此处指定为 --item-hover-bg-color，
和语言建议区的背景相同，
所以要单独修改为 write 区的 --bg-color */
.auto-suggest-container li.active,
.auto-suggest-container li:hover {
  background-color: var(--bg-color);
}

/* 代码块内的选中行 */
.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
  background-color: #ffffff1a;
}

/* 行内代码 */
code {
  background-color: #ffffff1a;
}

/* 元数据 */
#write pre.md-meta-block {
  color: var(--text-color);
}

/* write 区滚动条 */
::-webkit-scrollbar-thumb {
  background-color: #ffffff1a;
}

/* Sidebar 当前文件颜色 */
.file-list-item.active {
  color: var(--sidebar-active-color);
}

/* Sidebar 当前大纲标题颜色 */
.outline-active {
  color: var(--sidebar-active-color);
}

/* <kbd> */
kbd {
  box-shadow: inset 0 -2px 0 #c6cbd1;
  background-color: #000000;
  color: #adbac7;
  font-size: 1.1em;
  /* 增加内边距，使元素更大 */
  padding: 12px 12px;
}
