body {
  /* 内容区 */
  --background-primary: #2d333b;

  /* 其它区 */
  --background-secondary: #22272e;

  /* 文本 */
  --text-normal: #adbac7;

  /* 块引用 */
  --blockquote-border-color: #444c56;

  /* 行内代码、代码块和kbd */
  --code-background: #22272e;

  /* 代码块注释 */
  --code-comment: #8b949e;

  /* 表格边框 */
  --table-border-color: gray;

  /* HTML 标签 */
  --code-tag: #7ee787;

  /* HTML 属性名 */
  --code-string: #79c0ff;

  /* HTML 属性值 */
  --code-property: #a5d6ff;
  --code-function: #a5d6ff;
}

/* 行内代码 */
/* 由于默认使用 --code-background，
所以单独修改其背景 */
.markdown-rendered code,
.cm-s-obsidian span.cm-inline-code {
  background-color: #ffffff1a;
}

