/* -------------标题编号--------------------- */
/* 一级标题不编号，二级及以下标题自动编号 */

/* 重置计数器 */
.markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-content {
  counter-reset: h2 h3 h4 h5 h6;
}

/* ===== 阅读模式 ===== */

/* 一级标题居中 */
.markdown-preview-view h1 {
  text-align: center;
}

/* 二级标题 */
.markdown-preview-view h2 {
  counter-reset: h3 h4 h5 h6;
  counter-increment: h2;
}

.markdown-preview-view h2::before {
  content: counter(h2) ". ";
}

/* 三级标题 */
.markdown-preview-view h3 {
  counter-reset: h4 h5 h6;
  counter-increment: h3;
}

.markdown-preview-view h3::before {
  content: counter(h2) "." counter(h3) ". ";
}

/* 四级标题 */
.markdown-preview-view h4 {
  counter-reset: h5 h6;
  counter-increment: h4;
}

.markdown-preview-view h4::before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

/* 五级标题 */
.markdown-preview-view h5 {
  counter-reset: h6;
  counter-increment: h5;
}

.markdown-preview-view h5::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

/* 六级标题 */
.markdown-preview-view h6 {
  counter-increment: h6;
}

.markdown-preview-view h6::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
}

/* ===== 编辑模式（实时预览） ===== */

/* 二级标题 */
.markdown-source-view.mod-cm6 .cm-header-2 {
  counter-reset: h3 h4 h5 h6;
  counter-increment: h2;
}

.markdown-source-view.mod-cm6 .cm-header-2::before {
  content: counter(h2) ". ";
}

/* 三级标题 */
.markdown-source-view.mod-cm6 .cm-header-3 {
  counter-reset: h4 h5 h6;
  counter-increment: h3;
}

.markdown-source-view.mod-cm6 .cm-header-3::before {
  content: counter(h2) "." counter(h3) ". ";
}

/* 四级标题 */
.markdown-source-view.mod-cm6 .cm-header-4 {
  counter-reset: h5 h6;
  counter-increment: h4;
}

.markdown-source-view.mod-cm6 .cm-header-4::before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

/* 五级标题 */
.markdown-source-view.mod-cm6 .cm-header-5 {
  counter-reset: h6;
  counter-increment: h5;
}

.markdown-source-view.mod-cm6 .cm-header-5::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

/* 六级标题 */
.markdown-source-view.mod-cm6 .cm-header-6 {
  counter-increment: h6;
}

.markdown-source-view.mod-cm6 .cm-header-6::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
}

/* ----------标题颜色----------- */

/* 编辑模式标题颜色 */
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  color: #adbac7;
}

/* 预览模式标题颜色 */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  color: #adbac7;
}
/* ------------------------------- */
