/* -------------------所有主题----------------- */

body {
  /* 表格边框 */
  --table-border-color: gray;
}

/* -------------------深色主题----------------- */

.theme-dark {
  /* 表格边框 */
  --table-border-color: gray;
}

/* -------------------浅色主题----------------- */

.theme-light {
  /* 表格边框 */
  --table-border-color: gray;
}

/* -------------------其它部分----------------- */