/* -------------------所有主题----------------- */

body {
  /* 选中文本（自定义） */
  --select-bg-color: #3367d1;
  --select-text-color: #ffffff;

  /* 行高 */
  --line-height-normal: 1.8;

  /* 字体 */
  --font-text: "Nunito", sans-serif;

  /* 链接颜色 */
  --link-external-color: #58a6ff;
  --link-color: #58a6ff;
  --link-external-color-hover: #76bfff;
  --link-color-hover: #76bfff;

  /* 链接下划线 */
  --link-decoration: none;
  --link-external-decoration: none;

  /* 块引用 */
  --blockquote-border-thickness: 0.22em;
  --size-4-6: 1em;

  /* 表格边框 */
  --table-border-width: 1px;
  --table-border-color: gray;

  /* 代码块注释 */
  --code-comment: #8b949e;
}

/* -------------------深色主题----------------- */

.theme-dark {
  /* 标签页（自定义） */
  --tab-bg-color: #445264;

  /* 内容区 */
  --background-primary: #2d333b;

  /* 其它区 */
  --background-secondary: #22272e;

  /* 文本 */
  --text-normal: #adbac7;

  /* 块引用 */
  --blockquote-border-color: #444c56;

  /* 行内代码（还影响代码块和 kbd） */
  --code-background: #22272e;

  /* HTML 标签 */
  --code-tag: #7ee787;

  /* HTML 属性名 */
  --code-string: #79c0ff;
}

/* -------------------浅色主题----------------- */

.theme-light {
  /* 标签页（自定义） */
  --tab-bg-color: #dcdcdc;

  /* 行内代码、代码块（还影响 kbd） */
  --code-background: #dcdcdc;

  /* HTML 标签 */
  --code-tag: #22863a;

  /* HTML 属性名 */
  --code-string: #6f42c1;
}

/* -------------------其它不分----------------- */

/* 行内代码（深色主题），不影响代码块内的代码 */
/* 由于默认使用 --code-background，
所以单独修改其背景 */
.theme-dark .markdown-rendered :not(pre) > code,
.theme-dark .cm-inline-code {
  background-color: #ffffff1a;
}

/* 选中文本：阅读模式、实时预览（中间两行）、源码模式 */
.markdown-preview-view ::selection,
.markdown-source-view.mod-cm6 .cm-content ::selection,
.markdown-source-view.mod-cm6 .cm-line ::selection,
.markdown-source-view.mod-cm5 textarea::selection {
  background: var(--select-bg-color);
  color: var(--select-text-color);
}

/* 全局搜索的选中文本 */
.search-input-container input::selection {
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
}

/* 文档内搜索的选中文本 */
.cm-search input::selection {
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
}

/* 标签页 */
.workspace-tab-header.is-active,
.workspace-tab-header.mod-active {
  background-color: var(--tab-bg-color);
}

/* 移除外链图标 */
.external-link {
  background-image: none;
  padding-inline-end: 0;
}

/* kbd */
kbd {
  background-color: #000000;
  color: #adbac7;
  font-size: 1.5em;
  padding: 12px 12px;
  box-shadow: inset 0 -2px 0 #c6cbd1;
}

kbd {
  display: inline-block;
  font: 20px SFMono-Regular, Nunito, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  vertical-align: middle;
  border: 1px solid #6e7681;
  border-radius: 6px;
  margin: 0 0.1em;
  white-space: nowrap;
}

/* 表格边框 */
.markdown-rendered table,
.markdown-source-view.mod-cm6 .cm-table-widget table {
  padding: 0;
  word-break: initial;
  line-height: 24px;
  font-size: 1.25rem;
  cursor: text;

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
  page-break-inside: auto;
  text-align: left;

  display: table;
  text-indent: initial;
  unicode-bidi: isolate;
}

.markdown-source-view.mod-cm6 .cm-table-widget table {
  margin-top: 0;
  margin-bottom: 0;
}
